html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  font-family: 'Carter One', cursive;
}

.container {
  height: 100vh;
  width: 90vw;
  margin: auto;
}

main {
  display: grid;
  grid-gap: 6.66%;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header header"
    "hats cats";
}

.header {
  grid-area: header;
}

.hats {
  grid-area: hats;
}

.hats ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 6.9%;
}

.cats {
  grid-area: cats;
}

h1{
  font-size: 3.6vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
