html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background-repeat: no-repeat;
  height: 100%;
}

main {
  display: grid;
  grid-gap: 6.9%;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-areas:
    "header header header"
    "hats hats cats";
  width: 90vw;
  margin: 8vh auto;
}

.header {
  grid-area: header;
  margin-bottom: 1em;
}

#title {
  width: 45vw;
}

.hats {
  grid-area: hats;
}

.hats ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 6.9%;
}

.cats {
  grid-area: cats;
  margin-top: 10vh;
}

#dunce {
  height: 42vh;
}

#kivicks {
  height: 25vh;
}

#ghost {
  height: 70vh;
}

#wurtz {
  height: 25vh;
}

#rufus {
  height: 70vh;
}

.draggable {
  cursor: url(../images/rufus_cursor.png), auto !important;
}

img {
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
